.navbar{
    font-family: "font awasome 5 free";
}

.navbar-end{
    outline: none;
    padding: 25px,15px;
}
.drovdown-menu{
    visibility: visible;
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    transition: .5s;
    opacity: 0;
    transform: rotateX(0deg);
    visibility: visible;
    transition: .5s;
    opacity: 1;
}
.btn-sm-square{
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 0;
    display: flex;
}


.line1{
    width: 100px;
    height: 2px;
    background: #c51010;
    margin-top: 30px;
}
.line2{
    width:550px;
    height: 2px;
    background-color: blue;
    margin-top: 30px;  
}

.border1{
    border: 5px solid rgb(206, 14, 14);
}

.border2{
    border: 2px solid black;
}

body{
    background-color: rgb(240, 235, 232);
}

.bg{
    background-color: yellow;
}

.bgproduct{
    background-image: linear-gradient(to right top,white,rgb(161, 126, 126),green,yellow);
}

.bgcart{
    background-image: linear-gradient(to left top,red,yellow,blue,green,skyblue);
}

